body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .turno-container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
  }

  .codigo-destacado {
    font-size: 24px;
    font-weight: bold;
    color: #2575fc;
    margin-bottom: 20px;
  }
  
  .btn-big {
    width: 100%;
    padding: 40px;
    font-size: 28px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .step h2 {
    margin-bottom: 20px;
  }
  
  .btn-option {
    width: 100%;
    padding: 20px;
    font-size: 22px;
    margin-bottom: 15px;
    background-color: #3399ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .input-big {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: textfield;
  }
  
  .input-big::-webkit-outer-spin-button,
  .input-big::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  
  .btn-next {
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .btn-prioridad {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }

  .step p {
    font-size: 20px;
    margin: 10px 0;
  }  
  
  .prioridad-1 { background-color: #ff4d4d; }
  .prioridad-2 { background-color: #ff7f50; }
  .prioridad-3 { background-color: #ffc107; color: black; }
  .prioridad-4 { background-color: #17a2b8; }
  .prioridad-5 { background-color: #6c757d; }
  

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .btn-main, .btn-secondary {
    width: 100%;
    padding: 25px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .btn-main {
    background-color: #2575fc;
    color: white;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  